<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="Default">
            <directory>tests/phpunit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout"/>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
</phpunit>
